/* CSS */
/* OBS: Tags com o sufixo [ats-] são classes novas. As demais são subscrições das tags dos bootstrap_v4 */

/* [Font] */
/*@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');*/

@font-face {
  font-family: "Ubuntu";
  src: url("fonts/Ubuntu-Regular.ttf"),
  	   url("fons/Ubuntu-Italic.ttf"),
  	   url("fons/Ubuntu-Bold.ttf"),
  	   url("fons/Ubuntu-Medium.ttf"),
  	   url("fons/Ubuntu-MediumItalic.ttf"),
  	   url("fons/Ubuntu-Light.ttf"),
  	   url("fons/Ubuntu-LightItalic.ttf"),
  	   url("fons/Ubuntu-Medium.ttf");  	   
}

body {
	font-family:'Ubuntu', sans-serif;
}


/* [CSS Global]*/

aside a:hover{
	text-decoration: none;
}

/* Uitlitários de correção */
.fix-align {
	margin-top: 31px;
}

.fix-borderTop {
	border-color: transparent!important;
}

.fix-borderbottom {
	border-bottom:none!important;
}

/* [FORMULARIOS] */

/* [Inputs] */
.form-control {
		font-family:'Ubuntu', sans-serif;
		color:#000;
		font-weight: normal;
		border: 1px solid #bdcde4; 
		margin-bottom: 15px;
		border-radius: 0;
	}

	.form-control:hover, .form-group .form-control:focus {
		border: 1px solid #00bcd4;
		box-shadow: 0px 0px 15.3px 2.7px rgba(0, 188, 212, 0.2);
		outline: 2px solid #00bcd4;
    	outline-offset: -1px;
    	color: #00bcd4;
    	transition: border-color .2s ease-in-out,box-shadow .2s ease-in-out;
			-webkit-transition: border-color .2s ease-in-out,box-shadow .2s ease-in-out;
			-moz-transition: border-color .2s ease-in-out,box-shadow .2s ease-in-out;
			-ms-transition: border-color .2s ease-in-out,box-shadow .2s ease-in-out;
			-o-transition: border-color .2s ease-in-out,box-shadow .2s ease-in-out;
	}
		
	form label {
		color: #6a788e;
		font-size: .85rem;
	}

fieldset {
	padding: 15px;
	border-top: 2px solid #00bcd4;
	margin-bottom: 30px;
	margin-top:20px;
}

	fieldset legend {
		width: auto;
		padding: 10px;
		color: #00bcd4;
	}

	fieldset h3 {
		font-size: 1.1rem;
	    text-transform: uppercase;
	    color: #00bcd4;
	    margin-bottom: 0;
	    margin-top: 20px;
	    border-bottom: 1px solid #00bcd4;
	    padding-bottom: 10px;
}


/* [Css para casos de "autocomplete"] */
input:-webkit-autofill,
	textarea:-webkit-autofill,
	select:-webkit-autofill {
	    -webkit-text-fill-color: #00bcd4;
	    -webkit-box-shadow: 0 0 0px 1000px #FFF inset;
}

/* [Efeitos de Suavização] */

input, select, textarea {
	transition: border-color .2s ease-in-out,box-shadow .2s ease-in-out;
		-webkit-transition: border-color .2s ease-in-out,box-shadow .2s ease-in-out;
		-moz-transition: border-color .2s ease-in-out,box-shadow .2s ease-in-out;
		-ms-transition: border-color .2s ease-in-out,box-shadow .2s ease-in-out;
		-o-transition: border-color .2s ease-in-out,box-shadow .2s ease-in-out;
}

/* [Check Stilizado] */

.custom-control-input:active~.custom-control-label::before {
	color: #00bcd4;
	background-color: #fff;

}

.custom-control-label::before {
	width: 25px;
	height: 25px;
	background-color: #fff;
	border: 2px solid #bdcde4;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
	background-color: #00bcd4;
	display: block;
	width: 25px;
	height: 25px;
}

.custom-control-input:focus~.custom-control-label::before {
	box-shadow: none!important;
}

.custom-checkbox .custom-control-label::before {
	border-radius: 1.25rem;
}

.custom-control-label {
	cursor: pointer;
}

.custom-control-label::after {
	position: absolute;
	top: 0.55rem;
	left: 4px;
	background-size: 80% 80%;
}

/* [TABELAS] */

.table{
	margin-top: 1.2rem;
	border: 1px solid #dde2e8;
	background-color: #f8f9fa;
}

.table .thead-dark th {
	color: #00bcd4;
	background-color: #fff;
	border: none;
	font-weight: 600;
    font-size: 0.7rem;
}

.table td, .table th {
	padding: .75rem;
	border-top: 1px solid #dee2e6;
}

.table-hover tbody tr:hover {
    background-color: #00bcd425;
    outline: 1px solid #00bcd485;
    	outline-offset: -3px;
   
}

.table td input{
	margin-bottom: 0;
}

.thead-dark{
	border-bottom: 2px solid #00bcd4;
}

/* [Icons da Tabelas, coluna de ações] */

th.ats-col-icons {
	width: 115px;
}

.ats-i-act {
	color: #6a788e;
	font-size: 20px;
	margin-left: 10px;
	transition: ease .2s;
		-webkit-transition: ease .2s; /* Safari */
		-moz-transition: ease .2s;
		-ms-transition: ease .2s;
		-o-transition: ease .2s;
}
	.ats-i-act:first-child {
		margin-left:0;
	}

	.ats-i-act:hover {
	    color: #00bcd4;
	    text-decoration: none;
	    transition: ease .2s;
			-webkit-transition: ease .2s; /* Safari */
			-moz-transition: ease .2s;
			-ms-transition: ease .2s;
			-o-transition: ease .2s;
	}

/* [BUTTONS] */

.btn-primary {
	background-color: #4376ec;
	border-color:	transparent;
}

	.btn-primary:hover {
		background-color: #3462cc;
		border-color:	transparent;
	}

	.btn-primary.focus, .btn-primary:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus  {
		box-shadow: 0 0 0 0.2rem rgba(rgba(30, 70, 181, 0.33));
	}

	.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
		background-color: #3462cc;
		border-color: rgba(30, 70, 181, 0.33);
	}


.btn-secondary {
	background-color: #0dd473;
	border-color:	transparent;
}

	.btn-secondary:hover {
		background-color: #0fbb67;
		border-color:	transparent;
	}

	.btn-secondary.focus, .btn-primary:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-secondary.dropdown-toggle:focus  {
		box-shadow: 0 0 0 0.2rem rgba(40, 255, 0, 0.33);
	}

	.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
		background-color: #0fbb67;
		border-color: rgba(40, 255, 0, 0.33);
	}	

.ats-cinza {
	color: #fff;
	background-color: #6c757d;
	border-color:	transparent;
}

.ats-cinza:hover, .ats-cinza:focus {
	background-color: #596067;
	border-color:	transparent;
}



/* [Tela de Login] */

.ats-body{
	padding-top: 0;
}

.container-fluid .logo {
	font-size:134px;
	color:#fff;
	padding: 0;
	position: absolute;
}

.ats-logo:hover{
	text-decoration: none;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

	
.ats-banner {
	display: 	block;
	font-family:'Ubuntu', sans-serif;
	display:table;
	width: 100%;
	position:absolute;
	background: url(../img/banner-bg-footer.svg), url(../img/banner-bg-imagem.png);	
	background-size: 100% auto, cover; 						
	background-position: bottom, center;
	background-repeat: no-repeat, no-repeat;
	color: #fff;
}

	.ats-banner .ats-banner-txt button {
		border-radius:0.20rem;
		border-width: 2px;
		padding: 15px 35px
	}

		.ats-banner .ats-banner-txt .btn-outline-light:hover {
			color: #00bcd4;
		}	

	.ats-banner p {
		font-size: 18px;
	}

		.ats-banner p+p {
			font-weight: 600;
			font-style: italic;
		}

	/* Hack para IE */
	_:-ms-input-placeholder, :root .ats-banner {
		background: url(../img/banner-bg-footer.png), url(../img/banner-bg-imagem.png);	
		background-size: 100% 320px, cover; 						
		background-position: bottom, center;
		background-repeat: no-repeat, no-repeat;
		color: #fff;
		height: auto;

	}

	_:-ms-input-placeholder, :root .ats-space {
		display: block;
		height: 150px;
	}/*Fim dos Hacks*/	

	.ats-banner .row h2 {
		/* color: #00bcd4 ; Azul Padrão*/
		text-align: center;
		margin-bottom: 2em;
	}

	.ats-banner form {
		padding: 0 35px
	}	

	.ats-banner .row:first-child {
		margin-bottom: 100px;
		position: relative;
		top: 120px;
	}

.ats-login {
	background-color: #ffffff;
	padding: 20% 12%;
	border-radius: 10px;
	box-shadow: 0px 0px 42.5px 7.5px rgba(19, 21, 25, 0.24);
	color: #888;
	height: 514px;
	margin-top: 42px;
}

	.ats-login h2 {
		color: #00bcd4;
	}

	.ats-login .form-group .form-control {
		font-family:'Ubuntu', sans-serif;
		color:#00bcd4;
		border: 1.5px solid #bdcde4; 
		margin-bottom: 40px;
	}

	.ats-login .form-group .form-control:hover, .ats-login .form-group .form-control:focus {
		border: 1.5px solid #00bcd4;
		box-shadow: 0px 0px 15.3px 2.7px rgba(0, 188, 212, 0.2);
	}	

		.ats-login .form-group .form-control:placeholder{
			color:#bdcde4!important;
		}

.ats-btn-login {
	text-align: center;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

	.ats-btn-lg  {
		color: #fff;
		font-family:'Ubuntu', sans-serif;
		width:90%;
		padding: 0.8em;
		margin-top: 1.4em;
		border:0;
		border-radius: 0.20rem;
			background-image: -webkit-linear-gradient( 36deg, rgb(63,195,133) 0%, rgb(60,189,163) 52%, rgb(57,183,195) 100%);
			background-image: -moz-linear-gradient( 36deg, rgb(63,195,133) 0%, rgb(60,189,163) 52%, rgb(57,183,195) 100%);
			background-image: -ms-linear-gradient( 36deg, rgb(63,195,133) 0%, rgb(60,189,163) 52%, rgb(57,183,195) 100%);
			background-image: linear-gradient( 36deg, rgb(63,195,133) 0%, rgb(60,189,163) 52%, rgb(57,183,195) 100%); 
	}

	.ats-btn-lg:hover {
	color:#fff;
		background-image: linear-gradient( 36deg, rgb(55,168,115) 0%, rgb(52,163,141) 52%, rgb(51,160,170) 100%);
			background-image: -webkit-linear-gradient( 36deg, rgb(55,168,115) 0%, rgb(52,163,141) 52%, rgb(51,160,170) 100%);
			background-image: -moz-linear-gradient( 36deg, rgb(55,168,115) 0%, rgb(52,163,141) 52%, rgb(51,160,170) 100%);
			background-image: -ms-linear-gradient( 36deg, rgb(55,168,115) 0%, rgb(52,163,141) 52%, rgb(51,160,170) 100%);
			background-image: -o-linear-gradient( 36deg, rgb(55,168,115) 0%, rgb(52,163,141) 52%, rgb(51,160,170) 100%);
}		

/* Footer da área de Login */
.ats-login-footer {
	margin-top: 20px;
	color: #6a788e;
}	

	.ats-login-footer a {
		color: #6a788e;
		padding-left: 30px;
	}

	.ats-login-footer a:hover{
		color: #00bcd4;
		text-decoration: none;

	}

	.ats-login-footer i {
		position: absolute;
		font-size: 30px;
		margin-top: -5px;
		margin-left: -34px;
	}
	/*Hack para Edge Brownser*/
	@supports (-ms-ime-align: auto) {
		.ats-login-footer {
			margin-bottom: 100px; 
		}
	}

/* [BreadCrumb - Protocolo Web] */
.breadcrumb {
	background-color: transparent;
	color: #00bcd4;
	margin-bottom: 0;
	padding: 0;
}

	.breadcrumb a{
		color: #00bcd4;
	}

		.breadcrumb a:hover {
			color:  #00bcd4;
			text-decoration: underline;
		}

		.breadcrumb-item+.breadcrumb-item::before {
			color: #00bcd4;
		}	

.ats-bread {
	color: #00bcd4;
	font-size:32px;
}

	.ats-bread:hover {
		color: #00bcd4;
		text-decoration: none!important;
	}

/* [Paginação] */

.page-link {
	color: #00bcd4;
}

	.page-link:hover {
		color: #00bcd4;
	}

/* [Modal] */

.modal-title {
	padding-bottom: 0;
}

.modal-body {
	background: #f0f0f0; 
}	

.modal-footer {
	background: white;
	margin: 0 -16px -17px;
}

/* [Tela de Inicio] */

.ats-bg-cinza{
	background-color: #f0f0f0!important;
}

.ats-topbar {
	display: none;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index:200;
}

	.ats-topbar .navbar-light {
	background-image: linear-gradient( 90deg, rgb(63,195,133) 0%, rgb(60,189,163) 38%, rgb(62,185,177) 58%, rgb(63,180,191) 100%);
		background-image: -webkit-linear-gradient( 90deg, rgb(63,195,133) 0%, rgb(60,189,163) 38%, rgb(62,185,177) 58%, rgb(63,180,191) 100%);
		background-image: -moz-linear-gradient( 90deg, rgb(63,195,133) 0%, rgb(60,189,163) 38%, rgb(62,185,177) 58%, rgb(63,180,191) 100%);
		background-image: -ms-linear-gradient( 90deg, rgb(63,195,133) 0%, rgb(60,189,163) 38%, rgb(62,185,177) 58%, rgb(63,180,191) 100%);
	}

	.navbar-light .navbar-toggler {
		border-color: transparent;
		color: #fff;
	}

	.ats-topbar .navbar-light .navbar-brand {
	color: #fff;

	}

	.ats-topbar .navbar-light .navbar-brand:hover {
	color: #fff;

	}

	.ats-topbar .navbar-light .navbar-nav .active>.nav-link, .ats-topbar .navbar-light .navbar-nav .nav-link.active, .ats-topbar .navbar-light .navbar-nav .nav-link.show, .ats-topbar .navbar-light .navbar-nav .show>.nav-link {
	color: #fff;
}

	.ats-topbar-dropdown {
		color:#fff;
		background-color: transparent;
		border: none;
	}

	.ats-topbar-dropdown:hover {
	color: #fff;
	text-decoration: none;
	background-color: #f8f9fa50;
	}

		.ats-topbar-dropdown a.dropdown-item {
			color: #fff;
		}

		.ats-topbar-dropdown a.dropdown-item:hover, .ats-topbar-dropdown a.dropdown-item:focus {
		text-decoration: none;
		background-color: transparent;
		}

.ats-sidebar {
	display: inline-block;
	position:fixed;
	height: 100%;
	background-image: linear-gradient( 90deg, rgb(63,195,133) 0%, rgb(60,189,163) 38%, rgb(62,185,177) 58%, rgb(63,180,191) 100%);
		background-image: -webkit-linear-gradient( 90deg, rgb(63,195,133) 0%, rgb(60,189,163) 38%, rgb(62,185,177) 58%, rgb(63,180,191) 100%);
		background-image: -moz-linear-gradient( 90deg, rgb(63,195,133) 0%, rgb(60,189,163) 38%, rgb(62,185,177) 58%, rgb(63,180,191) 100%);
		background-image: -ms-linear-gradient( 90deg, rgb(63,195,133) 0%, rgb(60,189,163) 38%, rgb(62,185,177) 58%, rgb(63,180,191) 100%);
	top:0;
	left:0;
	bottom:0;
	z-index: 100;
	border-right: 1px solid #4c9c97;
	padding: 0;
}	

	.ats-sidebar nav {
		position:sticky;
		/* Aguardando definição da header para realizar calculo
		top: 48px;
		height: calc(100vh - 48px); 
		*/
		overflow-x: hidden;
		overflow-y: auto;
	}

		.ats-sidebar nav .logo {
			margin-left: auto;
			margin-right: auto;
			padding: 60px 0;
		}
			
		.ats-sidebar nav ul {
			list-style: none;
			padding: 0;
		}
			.ats-sidebar nav ul li{
				border-bottom: 1px solid #4c9c97;
				margin: 0;
			}

			.ats-sidebar nav ul li:first-child {
				border-top: 1px solid #4c9c97;

			}

			.ats-sidebar nav ul li a {
				display: block;
				padding: 20px 10px;
				font-weight: 500;
				color: #fff; 
				transition: ease .2s;
					-webkit-transition: ease .2s; /* Safari */
					-moz-transition: ease .2s;
					-ms-transition: ease .2s;
					-o-transition: ease .2s;
			}

				.ats-sidebar nav ul li a i {
					margin-right: 10px;
				}

					.ats-sidebar nav ul li .ats-sublist a i {
 					font-size: 24px;
				}

			.ats-sidebar nav ul li a:hover, .ats-sidebar nav ul li a:active, .ats-sidebar nav ul li a:focus {
				background-color: rgba(255, 255, 255, 0.45);
				text-decoration: none;
				transition: ease .2s;
					-webkit-transition: ease .2s; /* Safari */
					-moz-transition: ease .2s;
					-ms-transition: ease .2s;
					-o-transition: ease .2s;
			}

			.ats-sublist a {
				padding-left: 30px!important;
			}

.ats-painel {
	padding: 50px;
}	
/* Logo Painel */
.ats-logo {
	padding: 60px 20px;
}

	.ats-painel h1 {
		color:#00bcd4;
		text-transform: capitalize;
		font-size: 3em;
		font-weight: 300;
		margin: 0 15px 40px;
	}

.ats-cards .card {
	border-color: transparent;
	/* padding: 35px 0; OBS: Se ajustar aqui deve ajustar também "[.card .card-body a]" */
	margin-bottom: 35px;
	min-height: 180px;
	transition: ease .2s;
	background-image: #fff;
		-webkit-transition: ease .2s; /* Safari */
		-moz-transition: ease .2s;
		-ms-transition: ease .2s;
		-o-transition: ease .2s;
}

	.card:hover {
		color: #fff!important;
		box-shadow: 0px 10px 16px 1px rgba(119, 133, 136, 0.2);
		margin-top: -10px;
		background-image: linear-gradient( 90deg, rgb(63,195,133) 0%, rgb(60,189,163) 52%, rgb(57,183,195) 100%);
			background-image: -moz-linear-gradient( 90deg, rgb(63,195,133) 0%, rgb(60,189,163) 52%, rgb(57,183,195) 100%);
			background-image: -webkit-linear-gradient( 90deg, rgb(63,195,133) 0%, rgb(60,189,163) 52%, rgb(57,183,195) 100%);
			background-image: -ms-linear-gradient( 90deg, rgb(63,195,133) 0%, rgb(60,189,163) 52%, rgb(57,183,195) 100%);
    	transition: ease .2s;
			-webkit-transition: ease .2s; /* Safari */
			-moz-transition: ease .2s;
			-ms-transition: ease .2s;
			-o-transition: ease .2s;
	}

	.ats-white {
		color:#fff!important;
		transition: ease .2s;
			-webkit-transition: ease .2s; /* Safari */
			-moz-transition: ease .2s;
			-ms-transition: ease .2s;
			-o-transition: ease .2s;
	}

	.ats-cards a { 
		color: #6a788e;
		font-style: normal;
		display: block;
		height: 56px;
		border-top: 1px solid #6c757d47;
		/*border-bottom: 1px solid #6a788e;*/
		padding: 15px;
		padding-right: 10px;
		cursor:pointer;
		transition: ease .2s;
			-webkit-transition: ease .2s; /* Safari */
			-moz-transition: ease .2s;
			-ms-transition: ease .2s;
			-o-transition: ease .2s;
	}

	.ats-cards a:hover {
		text-decoration: none;
	}

	.ats-card-link {
		display: table;
	}

		.ats-card-link a {
			display: table-cell;
			vertical-align: middle;
			color: #6a788e;
			text-decoration: none;
			transition: ease .2s;
				-webkit-transition: ease .2s; /* Safari */
				-moz-transition: ease .2s;
				-ms-transition: ease .2s;
				-o-transition: ease .2s;
		}

			.ats-card-link a:hover {
				color: #fff;
				font-style: normal;
				background-color: #ffffff65;
				outline: 1px solid #ffffffa3;
				outline-offset: -2px;
				transition: ease .15s;
					-webkit-transition: ease .15s; /* Safari */
					-moz-transition: ease .15s;
					-ms-transition: ease .15s;
					-o-transition: ease .15s;
			}

		.card h2 {
			font-size: 18px;
			line-height: 1.4em!important;
			color:#00bcd4;
			line-height: 2em; 
			margin: 10px 0 0;
		}

		.card .card-body i {
			color: #00bcd4;
			font-size: 2.8em;
			padding: 0 0;
		}

	/* Icones dos Cards */	
	.ats-userSettings:before {
		content: url('../img/ats-userSettings.svg');
		display: block;
		width: 90px;
		height: auto;
	}

	.ats-protocolo:before {
		content: url('../img/ats-protocolo.svg');
		display: block;
		width: 90px;
		height: auto;
	}

	.ats-protocoloEnviar:before {
		content: url('../img/ats-protocoloEnviar.svg');
		display: block;
		width: 90px;
		height: auto;
	}

	.ats-protocoloReceber:before {
		content: url('../img/ats-protocoloReceber.svg');
		display: block;
		width: 90px;
		height: auto;
	}

		.card .card-body a {
			display: block;
			width: 100%;
			color: gray;
			border-top: 1px solid #e1e4e8;
			padding: 15px;
			font-size: 16px;
			color: #6a788e;
		}

/* [Tela Consultar Usuário] */

.ats-lista {
	background-color: #fff;
	min-height: 80px;
	padding: 10px;
	border-left: 5px solid transparent;
	margin: 0 0 15px;
	transition: ease .2s;
		-webkit-transition: ease .2s; /* Safari */
		-moz-transition: ease .2s;
		-ms-transition: ease .2s;
		-o-transition: ease .2s;
	margin-top: 30px;	
}
	.ats-lista:hover {
		box-shadow: 0px 10px 16px 1px rgba(119, 133, 136, 0.2);
		border-left: 5px solid #00bcd4;
		transition: ease .2s;
			-webkit-transition: ease .2s; /* Safari */
			-moz-transition: ease .2s;
			-ms-transition: ease .2s;
			-o-transition: ease .2s;
	}

	.ats-lista .row{
		padding: 5px 5px 0px 10px;
	}

	h5 {
		margin-left: 4px;
		color: #00bcd4;
		text-transform: uppercase;
		font-size: 20px;
		font-weight: 500;
		padding-bottom: 10px;
	}

		/* Componentes da lista */
		.ats-l-nome{
			color: #141514;
			text-transform: uppercase;
			font-weight: 700;
			font-size: 18px;
			margin-right: 15px;
		}

		.ats-l-email{
			color: #00bcd4;
			font-style: italic;
			font-size: 16px;
			text-transform: lowercase;
		}

			.ats-l-email:before {
				content: 'Email: ';
				text-transform: capitalize;
			}

		.ats-l-cpf {
			color: gray;
			font-size: 16px;
		}
			.ats-l-cpf:before {
				content: 'CPF: ';
			}

		/*Dropdown*/
		.ats-lista .dropdown-toggle::after {
			content: none;
		}	

		.ats-bullets:before {
			content:url('../img/ats-bullets.svg');
			display: block;
			width: 42px;
			height: auto;
			background-color: #fff;
			cursor: pointer;
		}

		.dropdown-item i {
			margin-right: 10px;
		}	

		.ats-lista .dropdown-item {  
			padding-left: 10px;
			padding-right: 10px;
		}

		.ats-lista  .dropdown-item:focus, .ats-lista .dropdown-item:hover {
			color: #ffffff;
			text-decoration: none;
			background-color: #8a93a7;
		}

		/* Etiquetas */
		.ats-badge-align {
			text-align: center;
		}

		.ats-badge-usuario {
			background-color:#d3dcd7;
			color:#404643;
			text-transform: uppercase;
			font-size: 16px;
			padding: 5px 15px;
			margin-right: 12px;

		}

		.ats-badge-uf {
			color:#28d584;
			text-transform: uppercase;
			border-radius: 2px;
			border: 1px solid #28d584;
			font-size: 16px;
		}

		.ats-badge-ativo {
			background-color:#28d584;
			text-transform: capitalize!important;
			color:#fff;
			font-size: 14px;
			font-weight: 600;
			padding: 10px 14px;
			border: 1.5px solid transparent;
			text-transform: capitalize;
		}

		.ats-badge-status {
			background-color:#28d584;
			text-transform: capitalize!important;
			color:#fff;
			font-size: 21px;
			font-weight: 600;
			padding: 10px 14px;
			border: 1.5px solid transparent;
			text-transform: capitalize;
			margin-bottom: 30px;
			margin-left: 10px;
		}

		.ats-badge-bloqueado {
			color:#4376ec;
			font-size: 14px;
			font-weight: 600;
			padding: 10px 15px;
			border: 1.5px solid #4376ec;
			text-transform: capitalize;
		}

		.ats-badge-excluido {
			background-color:#d3dcd7;
			color:#404643;
			font-size: 14px;
			font-weight: 600;
			padding: 10px 15px;
			border: 1.5px solid transparent;
			text-transform: capitalize;
		}

/*[BreakPoints]*/
/* A partir de tablets */
@media (min-width: 768px) {
	/* Uitlitário para correção de tabelas de 6 col em layouts lg ou superior */
	.no-scroll {
		overflow: hidden!important;
	}
	.ats-painel {
		padding: 10px 0;
	}
}

/* A partir de monitores grandes */

@media (min-width: 992px) {
	.ats-banner {
		height:100%
	}
	.ats-banner .ats-banner-txt {
		padding-top: 150px;
	}
}

/* Até smartphones na visualização landscape */
@media (max-width:767.98px) {
	body {
		padding-top: 60px;
	}
	.ats-topbar {
		display: inline-block;
	}
	.ats-banner {
		padding:0;
	}
	.ats-banner form {
		padding: 0;
		height:auto;
	}
	.ats-space {
	display: block;
	height: 150px;
	}
	.ats-login {
		height: 500;
		padding: 15% 12%;
	}	
	.ats-sidebar{
		display: none!important;
	}	
}

/* Até tablets */
@media (max-width: 991.98px) {
	.container-fluid .logo {
		font-size:100px;
		align-items: center;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		width: 100%;
		margin-top: 30px;
	}
	.ats-banner {
		display:block;
	}	
	.ats-banner .ats-banner-txt {
		text-align: center;
	}	
		
	.ats-banner .row:first-child {
		top: 175px;
	}

	/* Remove Bug do MouseHover no Mobile */
	.card:hover {
		color: inherit;
		box-shadow: none;
		margin-top: inherit;
		background-image: none;
		transition: none;
	}	
}